@import '../style.scss';
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 70px;
    gap: 150px;
    width: 80%;
    height: 100vh;
    color: #fff;
    // background: #2b2b33;
    
    @include mobile {
        margin: 70px;
        gap: 30px;
        color: #111;
        width: 100%;
        flex-direction: column;
        height: 40vh;
        width: 90%;
    }

    img {
        width: 500px;
        height: 700px;
        border-bottom-left-radius: 30px;
        object-fit: cover;
        animation: fadeIn 3s;

        @include mobile {
            width: 140px;
            height: 140px;
            border-radius: 50%;
        }
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 5px;
        animation: fadeIn 3s;

        h2 {
            font-size: 3rem;
            font-family: "Macondo", cursive;
            @include mobile {
                font-size: 20px;
                font-size: 22px;
                color: #ffd;
            }
        }
        
        hr {
            width: 890px;
            @include mobile {
                width: 170px;
            }
        }

        p {
            padding: 15px 0px;
            width: 700px;
            font-size: 1.25rem;

            @include mobile {
                width: 100%;
                font-size: 10px;
                color: #ffd;
            }
        }

        .stat {
            display: flex;
            margin: 40px 0px;
            width: 200px;
            gap: 40px;

            @include mobile {
                width: 100px;
                gap: 10px;
                margin: 10px 0px;
            }
        }
        .boxes {
            width: 100px;
            color: #ffd;
            padding: 10px 20px; 
            
            @include mobile {
                width: 50px;
                padding: 0px 14px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
            }

            h3 {
                font-size: 30px;
                @include mobile {
                    font-size: 20px;
                }
            }

            p {

                @include mobile {
                    font-size: 8px;
                }
            }
        }
        .box {
            width: 100px;
            color: #ffd;
            padding: 10px 10px;

            @include mobile {
                width: 50px;
                padding: 3px 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            h3 {
                font-size: 30px;

                @include mobile {
                    font-size: 20px;
                }
            }
                         
            p {

                @include mobile {
                    font-size: 8px;
                }
            }
        }
    }
}