@import '../style.scss';


@include themify {

.header {

    display: flex;
    width: 80%;

    @include mobile {
        width: 100%;
    }

    .header-container {
        background: url("../assets/IMG_3647.JPG");
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        height: 90vh;
        width: 100%;
        filter: brightness(60%);
        color: themed("textColor");
        animation: fadeIn 3s;

        @include mobile {
            height: 100vh;
            background: themed("bgPhoto");
        }
    }

    .navlinks {
        display: flex;
        justify-content: center;
        width: 80%;
        position: absolute;
        color: themed("bgColor");
        @include mobile {
            width: 100%;
        }


        ul {
            display: flex;
            justify-content: center;
            padding: 10px;
            font-weight: 600;
            cursor: pointer;
            @include mobile {
                display: none;
            }

            li {
                list-style: none;
                padding: 0px 30px;
                cursor: pointer;
                width: 20px;
                font-size: 18px;
            }
            li::before {
                top: 35px;
                content: " ";
                width: 3rem;
                height: 0.2rem;
                background: linear-gradient(90deg, #fff 0%, #fff 100%);
                border-radius: 0.5rem;
                position: absolute;
                bottom: -0.6rem;
                opacity: 0;
                transform: translateX(-1.5rem);
                transition: all 0.3s ease;
            }
            li:hover::before {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .mode {
            width: 40px;
            height: 2.5rem;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 0.4rem;
            background: transparent;
            padding: 0px 25px;
            color: themed("textColor");

            @include mobile {
                display: block;
                position: absolute;
                right: 0;
                margin: 10px 15px;
                color: #fff;
            }
        }

        .menu {
            width: 40px;
            height: 2.5rem;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 0.4rem;
            background: transparent;
            cursor: pointer;
            transition: all 0.4s ease;
            display: none;
            color: themed("textColor");

            @include mobile {
                display: block;
                position: absolute;
                right: 0;
                margin: 8px 15px;
                color: #fff;
            }
        }
        .menu:hover {
            color: #fff;
            background: transparent;
        }
  
    }
    .header-wrapper {
        position: absolute;
        color: #fff;
        display: flex;
        justify-content: space-between;
        margin-top: 280px;
        align-items: center;
        padding: 0px 180px;
        @include mobile {
            padding: 0px 20px;
            margin-top: 200px;
        }
        .left {

                p {
                    font-weight: 800;
                    font-size: 70px;
                    animation: fadeIn 3s;
                    @include mobile {
                        font-size: 30px;
                    }
                }

                .greet {
                    animation: fadeIn 3s;
                    font-size: 45px;
                    @include mobile{
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                .name {
                    animation: fadeIn 3s;
                    font-family: Roboto;
                }

                .stat {
                    animation: fadeIn 3s;
                    @include mobile {
                            text-transform: uppercase;
                            font-size: 15px;
                            padding: 2px 0px;
                    }
                }

                .lorem {
                    font-size: 15px;
                    font-weight: 300;
                    animation: fadeIn 3s;
                    @include mobile {
                        font-size: 12px;
                    }
                }

                .icons {
                    font-size: 30px;
                    margin-top: 10px;
                    animation: fadeIn 3s;
                    animation: colorIn 4s 1s infinite;
                    @include mobile {
                        font-size: 20px;
                    }

                    .icon {
                        padding: 0px 4px;
                    }
                }
                
        }
        button {
            padding: 12px 30px;
            border: none;
            margin: 20px 0px;
            cursor: pointer;
            background: #7e61e7;
            color: #fff;
            font-family: Outfit;
            font-weight: 500;
            @include mobile {
                padding: 8px 15px;
                margin: 10px 0px;
            }
        }
        .right {
           color: #000;
        }
    }
}
}   