@import '../style.scss';


@include themify {
.profile {
        color: themed("textColor");
        width: 80%;
        position: relative;

        @include mobile {
            width: 100%;
        }

    .profile-cover {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
            filter: brightness(40%);
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;

            @include mobile {
                width: 100%;
                height: 27vh;
            }
        }
    }

    .profile-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        gap: 15px;
        width: 40%;
        height: 0px;
        left: 175px;

        @include mobile {
            left: 20px;
            padding: 0;
            gap: 10px;
            width: 60%;
        }

        @include tablet {
            width: 80%;
        }

        .photo {
            display: none;
            border-left: 5px solid themed("icon");
            border-radius: 50%;
            width: 100px;
            height: 100px;
            position: absolute;
            left: 0;
            animation: rotete 1.4s infinite ease-in;

            @include mobile {
                width: 70px;
                height: 70px;
            }
        }

        @keyframes rotete {
            0% {
            transform: rotate(0deg);
            }
            100% {
            transform: rotate(360deg);
            }
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
            position: absolute;
            left: 2px;
            border: 5px solid themed("bgColor");

            @include mobile {
                left: 0;
                width: 70px;
                height: 70px;
            }
        }

        .handle {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-top: 20px;
            position: absolute;
            left: 120px;

            @include mobile {
                left: 80px;
                margin-top: 35px;
            }
        }

        .name {
            margin-top: 20px;
            font-size: 15px;
            font-weight: 900;
            color: themed("textColor");

            @include mobile {
                margin-top: 0px;
                font-size: 13px;
            }
        }

        p {
            font-size: 10px;
            color: themed("textColorsoft");
            color: themed("textColor");

            @include mobile {
                font-size: 8px;
            }

            span {
                animation: colorIn 1s infinite;
                font-weight: 900;
            }
        }
    }

    .navlinks {

        ul {
            display: flex;
            padding-left: 150px;
            padding-top: 80px;

            @include mobile {
                padding-left: 40px;
                padding-top: 55px;
            }

            li {
                list-style: none;
                text-decoration: none;
                padding: 13px 10px;
                color: themed("textColor");
                font-style: none;
                transition: 0.5s;
                border: 2px solid transparent;
                font-size: 12px;

                @include mobile {
                    padding: 3px 5px;
                    font-weight: 500;
                    font-size: 10px;
                }
            }

            li:hover {
                border-bottom: 2px solid themed("textColor");
            }
        }

        hr {
            background: themed("bgSoft");
            border: none;
            height: 1px;
        }
    }
  }
}