@import '../style.scss';


@include themify {
.profile {
        color: themed("textColor");
        width: 80%;
        position: relative;

        @include mobile {
            width: 100%;
        }

    .profile-cover {
        position: relative;
        width: 100%;

        .mode {
            position: absolute;
            top: 10px;
            right: 40px;
        }

        img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
            filter: brightness(40%);

            @include mobile {
                width: 100%;
                height: 27vh;
            }
        }
    }

    .profile-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 15px;
        margin-top: -250px;
        padding-bottom: 50px;

        @include mobile {
            margin-top: -150px;
            padding: 0;
            gap: 10px;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;

            @include mobile {
                width: 70px;
                height: 70px;
            }
        }

        .handle {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .name {
            margin-top: 10px;
            font-size: 15px;
            font-weight: 900;

            @include mobile {
                margin-top: 0px;
                font-size: 13px;
            }
        }

        p {
            font-size: 8px;
            color: themed("textColorsoft");

            @include mobile {
                font-size: 8px;
            }

            span {
                animation: colorIn 1s infinite;
                font-weight: 900;
            }
        }
    }

    .navlinks {

        ul {
            display: flex;
            padding-left: 150px;
            padding-top: 80px;

            @include mobile {
                padding-left: 40px;
                padding-top: 55px;
            }

            li {
                list-style: none;
                text-decoration: none;
                padding: 13px 10px;
                color: themed("textColor");
                font-style: none;
                transition: 0.5s;
                border: 2px solid transparent;
                font-size: 12px;

                @include mobile {
                    padding: 3px 5px;
                    font-weight: 500;
                    font-size: 10px;
                }
            }

            li:hover {
                border-bottom: 2px solid white;
            }
        }

        hr {
            background: themed("bgSoft");
            border: none;
            height: 1px;
        }
    }
  }
}