@import './style.scss';

@include themify {

.app {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: themed("bgColor");
  }
}